.mx-slider_wrap{
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	margin: 0px auto;
	overflow: hidden;
}
.mx-slide{
	position: absolute;
	width: 100%;
	display: table;
	float: left;
	left: 0%;
}
.mx-slide img{
	width: 100%;
}
.mx-prev{
	float: left;
}
.mx-next{
	float: right;
}